<div class="oral">
    <div class="heading">
        <h5>
            <label class="toggle">
                <input type="checkbox" ng-click="toggleRadio()" ng-model="radio">
                <div class="mark-radius blue">
                    <div class="icon"></div>
                </div>
            </label>
            {{listData.title}}</h5>
    </div>
    <hospotal-all ng-repeat="z in listData.con" list-data2="z"></hospotal-all>
    <!--<div class="heading-title" ng-repeat="i in listData.con" ng-controller="child">
        <h6>
            <label class="toggle">
                <input type="checkbox" ng-model="checked" ng-click="togglecheckbox()">
                <div class="mark-checkbox">
                    <div class="icon"></div>
                </div>
            </label>
            {{i.name}}</h6>
        <div class="mathematical">
            <span class="univalent">￥{{i.price}}</span>
            <div class="num">
                <span ng-click="del()">-</span>
                <span>{{sum}}</span>
                <span ng-click="add()">+</span>
            </div>
        </div>
    </div>-->
    <div class="order"><i class="icon ion-chevron-right"></i>
        订单留言
    </div>
</div>